@import './reset.css';

html, body {
    background: #b8956d;
    color: #FFFFFF;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    position:absolute;
    top: -40%;
    right: 4%;
}
